body, ul, li{
    margin:0;
    list-style:none;
    padding:0;
}

a{
    color:inherit;
    text-decoration:none;
}


.wrap {
    background: bisque;
}

.logo {
    background: aquamarine;
}

.content-wrap {
    background: red;
    display: flex;
}

.postbook {
    background:darksalmon;
    width:20%;
    height:800px;
    text-align: center;
    overflow: auto;

}

.side-menu {
    background: indianred;
    width:20%;
    height:800px;
    text-align: center;
    overflow: auto;
}

.content {
    background: lightseagreen;
    width:60%;
}

.selectedpost {
    background:orange;
}

.selectedbook {
    background:pink;
}

.toast-editor-custom {
    background:white;
}

.modal-box {
    height : 70%;
}
.note-tree {
    height : 80%;
    border:1px solid black;
}